.container {
  &__search {
    position: relative;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto 2rem auto;
    padding: 10px;

    @include respond-to("md") {
      flex-direction: unset;
      align-items: unset;
      justify-content: space-between;
      margin: 0 0 2rem 0;
      padding: unset;
      width: 100%;
    }

    &__clear {
      position: absolute;
      width: 15px;
      height: 15px;
      right: 30px;
      top: 20px;
      cursor: pointer;

      @include respond-to("md") {
        left: 41%;
        top: 27%;
      }
    }

    &__icon {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 28px;
      left: 30px;
      transform: translate(-50%, -50%);
      color: $tertiary;

      @include respond-to("md") {
        top: 20px;
        left: 20px;
      }
    }

    &__input-text {
      width: calc(100% - 40px);
      border: unset;
      border-radius: 5px;
      padding: 10px 0 10px 40px;
      background-color: $tertiary-light;
      &::placeholder {
        color: $tertiary;
      }
      @include respond-to("md") {
        width: 40%;
      }
    }

    &__tab {
      width: 100%;
      margin-top: 1rem;
      @include respond-to("md") {
        width: 30%;
        margin-top: 0;
      }

      &__price,
      &__size {
        @include font-montserrat-bold;
        background-color: $tertiary;
        width: 50%;
        color: $white;
        padding: 10px 0;
        border: unset;
        cursor: pointer;
        font-size: 12px;
        @include respond-to("md") {
          font-size: 18px;
        }

          &.active {
          background-color: $primary;
        }
      }
      &__price {
        border-radius: 5px 0 0 5px;
      }
      &__size {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}
