@import "_colors.scss";
@import "_typography.scss";
@import "_mixins.scss";
@import "_grid.scss";

body {
  font-family: Montserrat, OpenSans;
  margin: 0;
  background-color: $background;
  //margin: 0 4%;

  @include respond-to("md") {
    //margin: 20px 10% 0 10%;
  }

  h1 {
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  p {
    margin: 0;
  }
}
