@import "_colors.scss";
@import "_typography.scss";
@import "_mixins.scss";

html, body {
  font-family: Montserrat, OpenSans;
  text-align: center;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
