.container {
  width: 100%;
  height: 100%;
  &__background {
    background-image: url("/src/static/images/img_background@3x.png");
    background-size: 100% 100%;
    width: 100vw;
    height: 100%;

    &__new {
      width: 50%;

      div:nth-child(1) {
        margin-top: 10px;
      }

      &__row {
        display: flex;
        margin-bottom: 10px;

        &__column {
          flex: 50%;

          &__file {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            padding: 10px;
            border: 3px dashed #ccc;
            cursor: pointer;
            margin-top: 10px;

            &__icon {
              width: 30px;
              height: 30px;
            }
          }

          &__button {
            @include font-montserrat-semiBold;
            width: 150px;
            padding: 10px;
            border-radius: 5px;
            border: unset;
            text-transform: uppercase;
            background-color: $primary;
            color: $white;
            cursor: pointer;
          }

          &__error {
            @include font-montserrat-mediumItalic;
            font-size: 12px;
            color: $primary;
            @include respond-to("md") {
              font-size: 14px;
            }
          }
          &__preview {
            width: 150px;
            height: 120px;
          }
        }
      }
      input[type="file"] {
        display: none;
      }

      label {
        @include font-montserrat-semiBold;
        font-size: 12px;
        @include respond-to("md") {
          font-size: 14px;
        }
      }

      &__input {
        border: unset;
        border-radius: 5px;
        padding: 5px;
        background-color: $tertiary-light;
        &::placeholder {
          color: $tertiary;
        }
        @include respond-to("md") {
          display: block;
          width: 200px;
        }
      }
    }
  }
}
