.background {
  background-image: url("/src/static/images/img_background@3x.png");
  background-size: 100% 100%;

  .gradient {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 100%,
      rgba(255, 255, 255, 1) 60%
    );
  }
}

.container {
  &__title {
    grid-column: span 12;
    text-align: center;

    h1 {
      font-size: 22px;
      text-align: center;
      @include respond-to("md") {
        font-size: 2rem;
        text-align: left;
      }
    }
  }

  .form {
    grid-column: span 11;
    width: 100%;
    margin: 1rem 1rem 55px 1rem;

    @include respond-to("md") {
      grid-column: span 12;
      margin: 0;
      width: 50%;
    }

    &__box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2rem;

      &__inputs {
        margin-bottom: 10px;
        width: 100%;

        &__double {
          margin-bottom: 10px;
        }

        &__label {
          display: block;
          margin-bottom: 5px;
          font-size: 12px;
          @include respond-to("md") {
            font-size: 14px;
          }
        }

        &__input,
        &__select {
          @include font-openSans-regular;
          border: unset;
          border-radius: 5px;
          padding: 10px;
          background-color: $tertiary-light;
          font-size: 12px;
          @include respond-to("md") {
            font-size: 14px;
          }

          &::placeholder {
            color: $tertiary;
          }

          &__error {
            &::placeholder {
              color: $primary;
            }
          }
        }

        &__text-area-wrapper {
          border-radius: 10px;
          padding: 10px;
          background-color: $tertiary-light;

          &__textarea {
            @include font-openSans-regular;
            width: 100%;
            border: unset;
            background-color: $tertiary-light;
            height: 50px;
            font-size: 12px;
            @include respond-to("md") {
              font-size: 14px;
            }

            &::placeholder {
              color: $tertiary;
            }

            &__error {
              &::placeholder {
                color: $primary;
              }
            }
          }
        }

        &__preview {
          width: 150px;
          height: 120px;
        }

        &__file {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          padding: 10px;
          border: 3px dashed #ccc;
          cursor: pointer;
          margin-top: 10px;

          &__icon {
            width: 30px;
            height: 30px;
          }
        }
        &__button {
          @include font-montserrat-bold;
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          border: unset;
          text-transform: uppercase;
          background-color: $primary;
          color: $white;
          cursor: pointer;
          font-size: 12px;
          margin-top: 1rem;
          @include respond-to("md") {
            font-size: 18px;
            float: right;
            width: 150px;
          }
          &:disabled {
            opacity: 0.7;
          }
        }
      }
      &__error-message {
        @include font-montserrat-mediumItalic;
        font-size: 12px;
        color: $primary;
        @include respond-to("md") {
          font-size: 14px;
        }
      }
    }
  }
}
