form {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  @include respond-to("md") {
    margin-top: 90px;
  }
}
.background {
  background-image: url("/src/static/images/img_background@3x.png");
  background-size: 100% 100%;
}
.new-listing {
  margin: 0 1rem;
  @include respond-to("md") {
    margin: 0 10%;
  }

  &__title {
    grid-column: span 12;
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-size: 22px;
      text-align: center;
      @include respond-to("md") {
        font-size: 2rem;
        text-align: left;
      }
    }
  }

  .form {
    margin-bottom: 65px;
    @include respond-to("md") {
      flex-wrap: wrap;
      width: 50%;
      margin-bottom: 0;
    }

    &__inputs {
      margin-bottom: 10px;
      width: 100%;

      &__set {
        width: 100%;
      }

      &__double {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        width: 100%;
      }

      &__label {
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
        @include respond-to("md") {
          font-size: 14px;
        }
      }

      &__input,
      &__select {
        @include font-openSans-regular;
        width: 100%;
        border: unset;
        border-radius: 5px;
        padding: 10px;
        background-color: $tertiary-light;
        font-size: 12px;
        box-sizing: border-box;
        @include respond-to("md") {
          font-size: 14px;
        }
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: $tertiary;
        }

        &__error {
          border: 1px solid $primary;

          &::placeholder {
            color: $primary;
          }
        }
      }

      &__text-area-wrapper {
        border-radius: 10px;
        padding: 10px;
        background-color: $tertiary-light;

        &__error {
          border: 1px solid $primary;
        }

        &__textarea {
          @include font-openSans-regular;
          width: 100%;
          border: unset;
          background-color: $tertiary-light;
          height: 50px;
          font-size: 12px;
          @include respond-to("md") {
            font-size: 14px;
          }
          &:focus {
            outline: none;
          }

          &::placeholder {
            color: $tertiary;
          }

          &__error {
            &::placeholder {
              color: $primary;
            }
          }
        }
      }

      &__preview {
        width: 150px;
        height: 120px;
      }

      &__file {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        padding: 10px;
        border: 3px dashed #ccc;
        cursor: pointer;
        margin-top: 10px;

        &__icon {
          width: 30px;
          height: 30px;
        }

        &__delete-image {
          width: 25px;
          height: 25px;
          position: absolute;
          left: 134px;
          top: 16px;
          cursor: pointer;
        }
      }
    }
    &__button {
      @include font-montserrat-bold;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: unset;
      text-transform: uppercase;
      background-color: $primary;
      color: $white;
      cursor: pointer;
      font-size: 12px;
      margin-top: 1rem;
      @include respond-to("md") {
        font-size: 18px;
        float: right;
        width: 150px;
      }
      &:disabled {
        opacity: 0.7;
        cursor: unset;
      }
    }

    &__error-message {
      @include font-montserrat-mediumItalic;
      font-size: 12px;
      color: $primary;
      @include respond-to("md") {
        font-size: 14px;
      }
    }
  }
}
