.container {
  &__house-list {
    position: relative;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto 2rem auto;
    padding: 10px;

    @include respond-to("md") {
      width: 100%;
    }

    &__house {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 1rem;
      padding: 10px;
      background-color: $white;
      border-radius: 5px;
      position: relative;

      @include respond-to("md") {
        padding: 0;
        margin-bottom: 3rem;
      }

      &__wrapper {
        display: flex;

        &__container-image {
          width: 150px;
          height: 150px;

          &__image {
            border-radius: 5px;
            margin-right: 2rem;

            @include respond-to("xs") {
              width: 100%;
              height: 100%;
              margin-right: 1rem;
            }
          }
        }
        &__details {
          padding: 10px;
          font-size: 18px;

          &__street {
            @include font-montserrat-bold;
            margin-bottom: 5px;
          }
          &__price,
          &__zip {
            margin: 10px 0;
          }
          &__zip {
            color: $tertiary;
          }
          &__rooms {
            display: flex;
            align-items: center;

            &__image {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }

            &__specs {
              color: $tertiary;
              margin-right: 10px;
            }
          }
        }
      }
    }

    &__not-found {
      text-align: center;
      width: 100vw;
      @include respond-to("md") {
        width: 100%;
      }
      &__image {
        width: 60%;
        margin: 6rem auto 1rem auto;

        @include respond-to("md") {
          width: 30%;
        }
      }
      p {
        font-size: 14px;

        @include respond-to("md") {
          font-size: 18px;
        }
      }
    }
  }
}
