.container {
  &__house-list {
    display: flex;
    flex-direction: column;
    grid-column: span 12;
    width: 80%;

    @include respond-to("md") {
      width: 100%;
    }

    &__house {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 3rem;

      &__wrapper {
        display: flex;

        &__image {
          width: 150px;
          border-radius: 5px;
          margin-right: 2rem;

          @include respond-to("xs") {
            margin-right: 1rem;
          }
        }
        &__details {
          padding: 10px;

          &__street {
            @include font-montserrat-bold;
            font-size: 16px;
            margin-bottom: 5px;
          }
          &__price,
          &__zip {
            @include font-montserrat-regular;
            font-size: 14px;
            margin-bottom: 5px;
          }
          &__zip {
            color: $tertiary;
          }
          &__rooms {
            display: flex;
            align-items: center;

            &__image {
              width: 15px;
              height: 15px;
              margin-right: 10px;
            }

            &__specs {
              @include font-montserrat-regular;
              font-size: 14px;
              color: $tertiary;
              margin-right: 10px;
            }
          }
        }
      }
      &__edit-container {
        display: flex;
        &__icon {
          width: 15px;
          height: 15px;
          margin-left: 10px;
        }
      }
    }

    &__not-found {
      text-align: center;
      width: 100vw;
      @include respond-to("md") {
        width: 100%;
      }
      &__image {
        width: 60%;
        margin: 6rem auto 1rem auto;

        @include respond-to("md") {
          width: 30%;
        }
      }
      p {
        font-size: 14px;

        @include respond-to("md") {
          font-size: 18px;
        }
      }
    }
  }
}
