.container {
  &__detail {
    display: flex;
    grid-column: span 12;
    margin: 1rem 0;
    justify-content: center;

    @include respond-to("md") {
      justify-content: unset;
      margin: 3rem 0 1rem 0;
      width: 100%;
    }

    &__back {
      display: none;
      @include respond-to("md") {
        display: flex;
        font-size: 1rem;
        @include font-montserrat-semiBold;

        &__icon {
          width: 15px;
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
    &__image {
      @include respond-to("md") {
        width: 60%;
        margin-right: 10%;
      }
    }

    &__reccomended {
      h3 {
        margin-top: 0;
      }
    }

    &__specs {
      display: flex;
      flex-direction: column;
    }
  }
}
