.container {
  &__top {
    &__back {
      display: none;
      @include respond-to("md") {
        display: flex;
        font-size: 1rem;
        @include font-montserrat-semiBold;

        &__icon {
          width: 15px;
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
