.container {
  div:nth-child(5) {
    justify-content: space-between;
    border-radius: 20px 20px 0 0;

    @include respond-to("md") {
      border-radius: 0;
    }
  }
  &__detail {
    display: flex;
    grid-column: span 12;
    margin: 0;
    justify-content: center;
    height: 300px;
    width: 100%;

    @include respond-to("md") {
      grid-column: span 7;
      justify-content: unset;
      height: 550px;
      margin: auto;
    }

    &__image {
      width: 100%;
      @include respond-to("md") {
        width: 100%;
        margin-right: 10%;
      }
    }

    &__specs {
      display: flex;
      flex-direction: column;
    }
  }
  &__space {
    display: none;

    @include respond-to("md") {
      display: unset;
      grid-column: span 1;
    }
  }
  &__reccomended {
    order: 4;
    grid-column: span 12;
    width: 90%;
    margin: 0 auto;
    @include respond-to("md") {
      height: 550px;
    }

      h3 {
      grid-column: span 12;
    }

    .container__house-list {
      width: 100%;
      &__house {
        @include respond-to("md") {
          margin-bottom: 1rem;
        }
      }
    }

    @include respond-to("md") {
      order: unset;
      margin: 1rem 0;
      grid-column: span 4;
      display: grid;
      grid-template-rows: auto;
    }
    h3 {
      margin-top: 0;
    }
  }
  &__infos {
    display: flex;
    grid-column: span 12;
    padding: 1rem;
    order: 3;
    background-color: $white;

    @include respond-to("md") {
      order: unset;
      grid-column: span 7;
    }

    p {
      font-size: 12px;

      @include respond-to("md") {
        font-size: 16px;
      }
      }

    &__icon {
      width: 20px;
      height: 20px;
      margin: 0 10px;
    }
  }
}
